[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
ipython = "*"
requests = "*"
django-compressor = "==2.*"
django-libsass = "==0.*"
django-tinymce = "==3.0.*"
django-crispy-forms = "==1.9.*"
django-docs = "*"
django-stubs = "==1.5.*"
django-phone-field = "==1.8.*"
django-maintenance-mode = "==0.15.*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
sphinx-rtd-theme = "*"
pylint = "*"
pylint-django = "*"
black = "*"
isort = "*"
pre-commit = "*"
gunicorn = "*"
setproctitle = "*"
Pillow = "*"
PyYAML = "*"
Django = "==3.0"
Sphinx = "*"

[dev-packages]

[requires]
python_version = "3.9"
