# Python Basics
wheel
pillow
python-dotenv
PyYAML
ipython
requests
pycryptodome

# Django
django
django-compressor
django-libsass
django-tinymce
django-crispy-forms
django-docs
django-stubs
django-phone-field
django-maintenance-mode
django-admin-sortable
django-pagination-bootstrap

# Testing
pytest
pytest-django
pytest-cov

# Sphinx
sphinx
sphinx-rtd-theme

# Linters / Formatters
pylint
pylint-django
black
isort

# Git
pre-commit

# Production
gunicorn
setproctitle

