alabaster
appnope
asgiref
astroid
asttokens
Babel
backcall
black
certifi
cfgv
charset-normalizer
click
coverage
decorator
dill
distlib
Django
django-admin-sortable
django-appconf
django-cors-headers
django-compressor
django-crispy-forms
django-docs
django-libsass
django-maintenance-mode
django-pagination-bootstrap
django-phone-field
django-stubs
django-tinymce
djangorestframework
exceptiongroup
executing
filelock
gunicorn
identify
idna
imagesize
importlib-metadata
iniconfig
ipython
isort
jedi
Jinja2
lazy-object-proxy
libsass
MarkupSafe
matplotlib-inline
mccabe
mypy
mypy-extensions
nodeenv
packaging
parso
pathspec
pexpect
pickleshare
Pillow
pluggy
pre-commit
prompt-toolkit
ptyprocess
pure-eval
pycryptodome
Pygments
pylint
pylint-django
pylint-plugin-utils
pytest
pytest-cov
pytest-django
python-dotenv
pytz
PyYAML
requests
setproctitle
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
stack-data
tomli
tomlkit
traitlets
typed-ast
typing_extensions
urllib3
virtualenv
wcwidth
wrapt
zipp
