{% extends './base.html' %} {% load static %} {% load compress %} {% block clubs %}

<h2>
    {{catagory}}
</h2>
{% for club in queries %}
<div class="container">
    <div class="row mx-5">
        <div class="col card mt-3">
            <div class="row">
                <div class="col mt-3">
                    <img src="{{club.4}}" alt=" {{club.4}}" width="150", height="150">
                </div>
                <div class="col-9 mt-3">
                    <h3>{{ club.0 }}</h3>
                    <blockquote style="font-family:cursive;">{{ club.3 }}</blockquote>
                    {{ club.5|safe }}
                    <div class="pb-2 text-right">
                        <a href="{{club.1}}" style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-envelope mb-1" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                              </svg>
                            {{club.1}}
                        </a>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}