{% extends 'core/base/base.html' %}\
{% load static %}
{% load compress %}

{% block title %}About Us{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css'%}">
{% endblock %}

{% block js %}
<script src="{% static 'js/aboutus.js' %}"></script>
{% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="w-100 navbar-nav d-flex justify-content-around">
      <li class="nav-item">
        <a class="nav-link active" id="btn-main" type="button" onclick="switchHeader(0)">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn-division" type="button" onclick="switchHeader(1)">Divisions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn-member" type="button" onclick="switchHeader(2)">Members</a>
      </li>
    </ul>
  </div>
</nav>
<div class="aboutus-background">
  <div class="aboutus-title">
    <h1 class="text-white">About us</h1> 
  </div>
</div>
<!-- <div class="aboutus-button">
    <button class="btn btn-secondary text-white rounded" id="btn-main" type="button" onclick="switchHeader(0)">Main</button>
  </div>
  <div class="aboutus-button">
    <button class="btn btn-secondary text-white rounded" id="btn-member" type="button" onclick="switchHeader(1)">Members</button>
  </div>
  <div class="aboutus-button">
    <button class="btn btn-secondary text-white rounded" id="btn-division" type="button" onclick="switchHeader(2)">Divisions</button>
  </div> -->
  <!-- <div class="aboutus-button">
    <button disabled class="btn btn-secondary text-white rounded" id="btn-gallery" type="button" onclick="switchHeader(3)">Gallery</button>
  </div> -->
<div class="aboutus-content">
  
  <div class="aboutus-main" id="main">
    {% for content in main_contents %}
    <div class="main-content">
      <h1 class="content-title">{{content.title}}</h1>
      <div class="main-content-desc">
        {{content.desc | safe}}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="aboutus-division" id="division">
    {% for content in division_descriptions %}
    <div class="division-content my-2">
      <h1 class="content-title"> {{content.title}}</h1>
      <div class="content-desc">
        {{content.desc | safe}}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="aboutus-member" id="member">
    <div>
      <h1 class="content-title">Executive Board</h1>
      <div class="d-flex flex-row flex-wrap justify-content-start">
        {% for executive_member in internal_board_members %}
        <div class="card m-4" style="width: 200px;">
          <img class="card-img-top" style="height: 200px; object-fit: cover;" src="{{ executive_member.image.url }}" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">{{ executive_member.name }}</h5>
            <p class="card-text text-center">{{ executive_member.position }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div>
      <h1 class="content-title">Members</h1>
      <div class="d-flex flex-row flex-wrap justify-content-start">
        {% for member in members %}
        <div class="card m-4" style="width: 200px;">
          <img class="card-img-top" style="height: 200px; object-fit: cover;" src="{{ member.image.url }}" alt="">
          <div class="card-body">
            <h5 class="card-title text-center">{{ member.name }}</h5>
            <p class="card-text text-center">{{ member.position }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- <div class="aboutus-gallery" id="gallery"> 
  </div> -->
</div>

{% endblock %}