{% extends 'aboutus/templates/aboutus/aboutus_base.html' %} 
{% load static %}
{% load member_tags %}
{% load compress %}

{% block title %}About Us{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css'%}">
{% endblock %}

{% block js %}
<script src="{% static 'js/aboutus.js' %}"></script>
{% endblock %}

{% block content %}

<div class="d-flex flex-row h-auto margin justify-content-center mt-0">
  <div style="width: 100%;">
    <nav class="navbar navbar-expand navbar-light" style="background-color: #EEEEEE;">
      <div class="container justify-content-center">
        <ul class="navbar-nav d-flex flex-row  justify-content-around">
          <li class="nav-item">
            <a class="nav-link" id="btn-aboutus-main" type="button" onclick="switchSection(0)">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="btn-aboutus-divisions" type="button" onclick="switchSection(1)">Divisions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="btn-aboutus-members" type="button" onclick="switchSection(2)">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="btn-aboutus-constitution" type="button" onclick="switchSection(3)">Constitution</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <div id="aboutus-content" class="d-flex flex-column my-4 mx-4">
      <div id="aboutus-main" class="d-none flex-column">
        {% for content in main_contents %}
        <div class="mb-5">
          {% if content.image %}
          <img src="{{ content.image.url }}" alt="" width="100%">
          {% endif %}
          <h1>{{content.title}}</h1>
          <div class="my-4">
            {{content.desc | safe}}
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="aboutus-divisions" class="d-none row flex-wrap ">
        {% for division in division_descriptions %}
        <div id="{{ division.title_lowercase_unspaced }}" class="card rounded m-4" style="width: 20rem;">
          {% if division.image %}
          <img class="mb-4 mt-2" src="{{ division.image.url }}" alt="division picture" width="100%" style="max-width:500px; object-fit: cover;">
          {% endif %}
          <div class="card-body">
            <div class="card-header text-center">
              <h1 class="text-capitalize"> {{division.title}} </h1>
            </div>
            <p class="card-text">
              <div class="my-4">
                {{division.desc | safe}}
              </div>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="aboutus-members" class="d-none flex-column flex-wrap">
        <div class="my-2">
          <h1 class="content-title">Executive Board</h1>
          <div class="d-flex flex-row flex-wrap justify-content-start">
            {% for executive_member in internal_board_members %}
            <div class="card m-4" style="width: 200px;">
              {% image_tag executive_member css_class='card-img-top member_img' %}
              <div class="card-body">
                <h5 class="card-title text-center">{{ executive_member.name }}
                  {% if executive_member.sns_link %}
                    <a href="{{ executive_member.sns_link }}" target="_blank"><i class="fas fa-paper-plane"></i></a>
                  {% endif %}
                </h5>
                {% if executive_member.position == 'Division Head' %}
                  <p class="card-text text-center">{{ executive_member.division.division_name }} Head</p>
                {% else %}
                  <p class="card-text text-center">{{ executive_member.position }}</p>
                {% endif %}
              </div>
            </div>
            {% empty %}
            <h4 class="text-muted">KISA Board members for this semester have not been finalized.</h4>
            {% endfor %}
          </div>
        </div>
        <h1 class="content-title">Members</h1>
        <div id="accordion">
          {% for division in division_descriptions %}
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed text-capitalize" data-toggle="collapse" data-target=#{{ division.title }}>
                  {{ division.title }}
                </button>
              </h5>
            </div>
            <div id={{ division.title }} class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="d-flex flex-col flex-wrap justify-content-start">
                  {% for member in division.members.all %}
                  <div class="card m-4" style="width: 200px;">
                    {% image_tag member css_class='card-img-top member_img' %}
                    <div class="card-body">
                      <h5 class="card-title text-center text-capitalize">{{ member.name }} 
                        {% if member.sns_link %}
                          <a href="{{ member.sns_link }}" target="_blank"><i class="fas fa-paper-plane"></i></a>
                        {% endif %}
                      </h5>
                      <p class="card-text text-center text-capitalize">{{ member.position }}</p>
                    </div>
                  </div>
                  {% empty %}
                  <h4 class="text-muted">KISA {{ division.title }} members for this semester have not been finalized.</h4>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div id="aboutus-constitution" class="flex-column flex-wrap d-none">
        <div class="container">
          <h1>KISA Constitution</h1>
          <div class="my-5">
            <iframe src="{% static 'constitution/KISA Constituition.pdf' %}" title="KISA Constitution" width="100%" height="500px" ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}