@import "vars";

.navbar-brand {
    line-height: 90%;
    width: 150px;
    padding-left: 60px;
    padding-right: 10px;
    background-image: url("/static/img/new-navbar-icon.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.bg-darker {
    background-color: $bg-darker-color_;
}

.brand-text {
    font-family: 'Acme', sans-serif;
    font-size: 15px;
}

.navbar {
    a { transition: 0.3s; }
    .nav-item:not(:last-child) { margin-right: 13px; }
}

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
}

.dropdown-item {
    color: $navbar-dark-color_;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: $navbar-dark-hover-color_;
    background-color: $dark_;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}
