.aboutus-background{
  background      : url("../test.jpg") fixed;
  height          : 300px;
  
  display         : flex;
  flex-flow       : columnn wrap;
  justify-content : center;
  position        : relative;
  width           : 100%;
}

.aboutus-title{
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
}

nav.aboutus-nav{
  position        : sticky;
  position        : -webkit-sticky;
  top             : 0;

  display         : flex;
  flex-flow       : row wrap;
  justify-content : space-around;
  padding         : 0.5rem 0;
}
.aboutus-nav>div>button{
  border          : 0;
  padding         : 0.5rem 2rem;
  margin          : 0.5rem;
}
.aboutus-nav>div>button:focus{
  outline         : 0;
}
.aboutus-content{
  display         : flex;
  flex-flow       : column wrap;
  justify-content : center;
  align-items     : center;
  padding         : 1rem 2rem;
}
.aboutus-content>div{
  display         : flex;
  flex-flow       : column wrap;
}

/*This is for the members card part*/
.aboutus-member > div{
  padding-bottom  : 3rem;
}
.aboutus-member > div > div{
  padding-bottom  : 1rem;
}
.executive-member{
  width           : 80vw;
}
.executive-member-card{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : center;
}
.executive-member-card > div{
  display         : flex;
  flex-flow       : column wrap;
}

.member-card-left > img{
  max-width       : 300px;
}

.normal-member-container{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : center;
  justify-content : flex-start;
}
.normal-member-container > div{
  width           : 300px;
}
.normal-member-card > div{
  display         : flex;
  flex-flow       : column wrap;
  align-items     : center;
}