{% extends 'blog/templates/blog/blog_base.html' %} 

{% load static %}
{% load compress %}

{% block css %}
<link href="{% static 'css/blog_posts.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="tag-filter">
  {% include 'core/tag_filter.html' %}
</div>
<h4 class="text-muted my-4 strike"><span>Posts: {{ num_results }}</span></h4>
<div class="masonry-container">
  <div class="grid">
    {% for post in posts %}
      <div class="grid-item card shadow m-3 p-2 bg-light">
        <!-- Post Image Preview -->
        <div class="pre-image-container text-center">
          {% if post.image %}
            {{ post.get_image_tag }} 
          {% else %}
            <div class="card-img-top pre-image">
            </div>
          {% endif %} 
        </div>
        <div class="card-body">
          <div class="row mt-3">
			     <!-- Date -->
            <div class="col text-right">
              <a class="text-muted">{{ post.created|date:"d M Y" }}</a>
            </div>
          </div>
          <!-- Title -->
          <h3 class="card-title text-center" ><a class="text-dark" href="{% url 'post_view' post_slug=post.slug%}">{{ post.title }}</a></h3>
          <div class="d-flex justify-content-center my-3"> 
            <div class="d-flex justify-content-center w-50 flex-wrap">
              {% for tag in post.tags.all %}
                <a href="?tags={{ tag }}"><small class="text-secondary mx-1"><b>#</b>{{ tag }}</small></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
	  {% empty %}
		  <h3 class="text-muted text-center mb-5">No results. Try reducing some tags.</h3>
    {% endfor %}
  </div>
</div>
{% if posts %}
  <div class="pagination justify-content-around my-5">
    <span class="step-links">
        {% if posts.has_previous %}
          <a href="?page=1{{ query_suffix_for_paginator }}" class="btn btn-secondary btn-sm">&laquo;</a>
          <a href="?page={{ posts.previous_page_number }}{{ query_suffix_for_paginator }}" class="btn btn-secondary btn-sm">&lt;</a>
        {% else %}
          <a href="#" class="btn btn-secondary btn-sm disabled">&laquo;</a>
          <a href="#" class="btn btn-secondary btn-sm disabled">&lt;</a>
        {% endif %}
        {% for id in page_ids %}
            {% if id == cur_page %}
              <a href="?page={{ id }}{{ query_suffix_for_paginator }}" class="btn btn-dark btn-sm">{{ id }}</a>
            {% else %}
              <a href="?page={{ id }}{{ query_suffix_for_paginator }}" class="btn btn-secondary btn-sm">{{ id }}</a>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}{{ query_suffix_for_paginator }}" class="btn btn-secondary btn-sm">&gt;</a>
            <a href="?page={{ posts.paginator.num_pages }}{{ query_suffix_for_paginator }}" class="btn btn-secondary btn-sm">&raquo;</a>
        {% else %}
            <a href="#" class="btn btn-secondary btn-sm disabled">&gt;</a>
            <a href="#" class="btn btn-secondary btn-sm disabled">&raquo;</a>
        {% endif %}
    </span>
  </div>
{% endif %}
</div>

{% endblock %}

{% block js %}
<!-- Masonry JS CDN -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% compress js file blog %}
<!-- Tag Filtering -->
<script src="{% static 'js/tag_filter.js' %}"></script>
<!-- Initializer for Masonry JS -->
<script src="{% static 'js/masonryInit.js' %}"></script>
{% endcompress %}
{% endblock %}