{% extends 'core/base/base.html' %}

{% load static %}
{% load compress %}
{% load events_tags %}

{% block meta %}
<meta name="description" content="KAIST International Students Association (KISA) represents the international community of KAIST.
                                      KISA is the largest club in KAIST for international students. Comprised of five divisions: Events, Promotions,
                                      Finance, Web, Welfare.">
{% endblock %}

{% block css %}
{% compress css file events %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/homepage_main.scss' %}">
{% endcompress %}
{% endblock %}

{% block main %}
<div class="intro-banner">
  <img src="{% static 'img/kaistbg_one.jpg' %}" alt="Intro banner background">
  <p class="banner-text">KAIST INTERNATIONAL STUDENTS ASSOCIATION</p>
</div>

<div class="d-flex h-auto margin">
  <div class="container-fluid mx-0 my-3">
    <div class="d-flex flex-column">
      <p class="text-center heading">Founded in 2004. KAIST International Students Association (KISA) represents international community of KAIST.</p>
      <div class="container d-flex justify-content-center">
        <a class="btn btn-dark py-2 px-4 my-2 button-text" href="https://docs.google.com/forms/d/e/1FAIpQLSfF9xFyQfvV1ZVmNgm9PaE-I-oq7rYb-t_4eQ4jNwEFAwTsNw/viewform" role="button">Share your voice</a>
      </div>
    </div>
    <hr>
    <div class = "container my-4">
    <h2 class = "mb-3">Events</h2>
    <!-- KISA Calendar Embed -->
    <div class="kisa-calendar my-3">
      <button class="calendar-button-load btn btn-outline-dark">Load KISA Events Calendar for {% now "Y" %}</button>
      <!-- <button class="calendar-button-toggle btn btn-outline-dark" style="display: none;">Toggle calendar visiblity</button> -->
      <div id="kisa-google-calendar-container" class="d-flex justify-content-center m-2 rounded bg-light">
      </div>  
    </div>
    <!-- Calendar End -->
    <div style="overflow-x: auto;" class="row d-flex flex-row flex-nowrap">
      {% for event in event_list %}

       <!-- Events promotion popup-->
       <div class="modal" id="myModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{event.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-block-img text-center">
                {% image_tag event listview=True %}
              </div>
              <div class="mt-2 read-more text-center">
                <a class="" href="{% url 'events'%}#event-{{ event.id }}">Learn more &rarr;</a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="ml-3">
        <div class="card card-block event-card mb-3">
          <div class="container">
            <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="mt-2 card-title text-center">{{event.title}}</h5>
          </div>
          <div class="card-img-top text-center">
            {% image_tag event listview=True %}
          </div>
          <div class="mt-2 read-more text-center">
            <a class="" href="{% url 'events'%}#event-{{ event.id }}">Learn more &rarr;</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <hr>

    <div class="d-flex flex-row flex-wrap justify-content-around my-4">
      <div class="mb-3 members-picture">
        <img src="{% static 'img/members.png' %}" class="img-thumbnail " alt="Members">
      </div>
      <div class="d-flex flex-column justify-content-around">
        <h2 class="text-center">Meet the members</h2>
        <div class="members-text">
          <p class="text-center paragraph">Who’s in KISA, and what do we do? Learn more and contact our members.</p>
        </div>
        <div class="d-flex justify-content-center">
          <a class="btn btn-dark py-2 px-5 button-text" href="{% url 'aboutus'%}" role="button">About us</a>
        </div>
      </div>
    </div>

    <hr>
    <!-- TODO, Implement height adjustment for this part!-->
    <div class = " container my-4">
    <h2>KISA Divisions</h2>
    <p class="paragraph">KISA is comprised of {{division_list|length}} divisions. Learn more about each of them.</p>
      <div class="row no-gutters divisions">
          {% for division, color in division_list %}
          <a style="height: 150px;" class="col-xs-6 col-md-2 mx-0 my-3 position-relative d-flex justify-content-center align-items-center " href="{% url 'aboutus'%}?section=aboutus-divisions#{{division.title_lowercase_unspaced}}">
            {% if division.image %}
              <img src="{{ division.image.url }}" class="division rounded" alt="division.title_lowercase_unspaced"> 
            {% endif %}
            <div class="rounded-lg position-absolute d-flex justify-content-center align-items-center" style="background-color: {{color}}; filter: brightness(40%); opacity: 75%; width: 90%; height: 110%"></div>
            <div class="position-absolute text-white h5">
              {{division.division_name}}
            </div>
          </a>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% compress js file core %}
<script src="{% static 'js/kisa_calendar.js' %}"></script>
{% endcompress %}
{% endblock %}