<div class = "d-flex flex-column justify-content-start flex-wrap align-items-start button-list bg-light rounded">
    <div class = "mt-4 mb-2 ml-3">
        <div class = "control-buttons-container pl-1">
            <!-- this is to reset the button list-->
            <button class = "btn btn-danger" id="tag-reset">
                Reset
            </button>
            <!-- this is to press search, will make a GET reuest to the backend with selected tags as parameters-->
            <button class = "btn btn-info" id="tag-search">
                Search
            </button>
        </div>
    </div>
    <!--This is for the full button list-->
    <div class = "button-list-container d-flex flex-row flex-wrap justify-content-start align-items-center">
            <div class = "container button-container" id="tag-field">
                {% for tag in tagData %}
                <!-- <button class = "tag btn btn-outline-primary btn-sm m-1 rounded-pill" value="{{ tag.tag_name }}">
                    {{ tag.tag_name }}
                </button> -->
                {% endfor %}
                <!-- Test tags for example purposes -->
                <button id="tag-first" value="first" class="tag btn btn-outline-primary btn-sm m-1 rounded-pill"> Tag1 </button>
                <button id="tag-second" value="second" class="tag btn btn-outline-primary btn-sm m-1 rounded-pill"> Tag2 </button>
                <button id="tag-third" value="third" class="tag btn btn-outline-primary btn-sm m-1 rounded-pill"> Tag3 </button>
                <button id="tag-fourth" value="fourth" class="tag btn btn-outline-primary btn-sm m-1 rounded-pill"> Tag4 </button>
                <button id="tag-fifth" value="fifth" class="tag btn btn-outline-primary btn-sm m-1 rounded-pill"> Tag5 </button>
            </div>
    </div>
</div>
