<div class="container-fluid">
    <div id="tags-field" class="row p-2 rounded" style="background-color: #EEEEEE;">
        <!--Example button-->
        <button id="tag-1" class="btn btn-info btn-sm m-1">Hello <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-2" class="btn btn-info btn-sm m-1">
            Hi <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-1" class="btn btn-info btn-sm m-1">
            Hello <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-2" class="btn btn-info btn-sm m-1">
            Hi <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-1" class="btn btn-info btn-sm m-1">
            Hello <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-2" class="btn btn-info btn-sm m-1">
            Hi <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-1" class="btn btn-info btn-sm m-1">
            Hello <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-2" class="btn btn-info btn-sm m-1">
            Hi <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-1" class="btn btn-info btn-sm m-1">
            Hello <i class="fas fa-times fa-sm"></i>
        </button>
        <button id="tag-2" class="btn btn-info btn-sm m-1">
            Hi <i class="fas fa-times fa-sm"></i>
        </button>

    </div>
    <div id="filter-field" class="row mt-2 mb-2 d-flex">
        <div>
            <input type="search" id="tag-search" class="form-control" placeholder="Search" style="display:none"/>
        </div>
        <div>
            <button id="tag-list-toggler" class="btn btn-dark" data-toggle="collapse" data-target="#tag-list">Filter Tags</button>
        </div>
    </div>
    <div id="tag-list" class="row collapse">
        <button id="tag-1" class="btn btn-secondary btn-sm m-1">
            Hello
        </button>
        <button id="tag-2" class="btn btn-secondary btn-sm m-1">
            Hi
        </button>
    </div>
</div>
