{% extends 'core/base/base.html' %}

{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block title %}Create Event{% endblock %}

{% block main %}
<div class="d-flex flex-row h-auto margin">
  <div class="container-fluid mx-0">
    <!-- Page Title -->
    <div class="row">
      <div class="col page-title-box text-center py-1">
        {% if update %}
        Update Event - {{ event.title }}
        {% else %}
        Create Event
        {% endif %}
      </div>
    </div>
    {% crispy form %}
  </div>
</div>
{% endblock %}

{% block js %}
{% compress js file events %}
<script src="{% static 'js/event_form.js' %}"></script>
<script src="{% static 'js/image_preview.js' %}"></script>
<script src="{% static 'js/event_datetimepicker.js' %}"></script>
{% endcompress %}
{% endblock %}
