{% extends 'core/base/base.html' %}




{% load static %}
{% load compress %}

<head>
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/faq_main.scss' %}">
</head>

{% block title %} FAQ {% endblock %}

{% block css %}
{% compress css file faq %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/faq_main.scss' %}">
{% endcompress %}
{% endblock %}

{% block main %}
<div class="d-flex flex-row h-auto margin">
  <div class="container-fluid mx-0">
    <div class="row">
      <div class="col page-title-box text-center py-1">
        FAQ
      </div>
    </div>
  <ul class="faq-list">
    {% for faq in faq_list %}
      <li>
      <h4 class="faq-heading"> {{ faq.text }} </h4>
                            <p class="read faq-text">
                                {{ faq.faq_answer }}:
                            </p>
                            <p class="read faq-text">
                                {{ faq.category }}:
                            </p>
      </li>
    {% endfor %}
  </ul>
    <script type="text/javascript" src="./faq.js"></script>

  </div>
</div>
{% endblock %}

{% block js %}
{% compress js file faq %}
<script src="{% static 'js/main.js' %}"></script>
{% endcompress %}
{% endblock %}
