.page-title-box {
    background-color: #eee;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

.margin {
    margin: 20px 30px;
}

.section-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}
