html,
body {
    margin: 0;
    font-family: "Noto Sans", Ubuntu, Roboto, "times new roman", times, roman, serif;
}

.carouselContainer {
    background-color: whitesmoke;
    width: 100%;
}

.carousel {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.card {
    opacity: 0;
    animation: fadeInUpImage 1s ease-out forwards 3s;
    animation-delay: 1s;
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    width: 30%;
    height: fit-content;
}

.card:hover {
    transform: scale(1.05);
}

.cardContent {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContent img {
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.date {
    opacity: 80%;
    margin-left: auto;
    margin-right: 0.7%;
    align-self: flex-end;
    font-size: medium;
}

.headline {
    font-size: x-large;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.bgText {
    position: absolute;
    font-size: xx-large;
    display: inline-block;
    animation: fadeInUp 1s ease-out forwards;
}

.pinterestContainer {
    margin: 0;
    padding: 0;
    width: '80vw';
    display: 'grid';
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    position: 'absolute';
    left: '50%';
    transform: 'translateX(-50%)';
    justify-content: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpImage {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cover {
    background: linear-gradient(to right, rgb(60, 13, 20) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px), url(/public/kisaLogo.png) right 5% bottom 5%, url(https://images.unsplash.com/photo-1607827447604-d9a8c439186e?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) right ,var(--mui-palette-primary-main);
    background-size: 250px, 50px;
    background-repeat: no-repeat no-repeat;
    box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 280px;
    aspect-ratio: 4/5;
}