{% extends 'core/base/base.html' %}

{% load static %}
{% load compress %}
{% load events_tags %}

{% block title %}Event - {{ event.title }}{% endblock %}

{% block css %}
{% compress css file event %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/events_main.scss' %}">
{% endcompress %}
{% endblock %}

{% block main %}
<div class="d-flex flex-row h-auto margin">
  <div class="container-fluid mx-0">
    <!-- Page Title -->
    <div class="row mb-1">
      <div class="col page-title-box text-center py-1">
        Event - {{ event.title }}
      </div>
    </div>
    <div class="card mb-3 shadow" id="event">
      <!-- Image -->
      <div class="d-min815-none card-img-top text-center">
        {{ event.image_tag }}
      </div>
      <div class="row no-gutters">
        <!-- Image -->
        <div class="d-max815-none col event-image-col">
          <!-- 'image_tag' is a custion templatetag -->
          {% image_tag event listview=True %}
        </div>
        <div class="col">
          <div class="card-body" id="{{ event.id }}">
            <!-- Edit Button -->
            {% if perms.events %}
            <div class="card-text mb-2">
              <i class="fas fa-edit text-primary"></i>
              <a href="{% url 'event_update' event.slug %}">Edit Event</a>
            </div>
            {% endif %}
            <!-- Title -->
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text mb-0">
              <!-- Event Datetime -->
              <i class="fas fa-calendar"></i>
              {{ event.event_start_datetime|date:"D, M j, H:i" }} - {{ event.event_end_datetime|date:"D, M j, H:i" }}
            </p>
            <p class="card-text mb-0">
              <!-- Location -->
              <i class="fas fa-map-marker-alt"></i>
              {{ event.location }}
            </p>
            <!-- Important Message -->
            {% if event.important_message %}
            <p class="card-text mb-0">
              <i class="fas fa-exclamation ml-1 mr-2"></i>
              {{ event.important_message }}
            </p>
            {% endif %}
            <!-- Description -->
            <div class="event-description mt-2">
              {{ event.description|truncatewords_html:event.descr_truncate_num|safe }}
            </div>
            <!-- 'striptags' is used before 'wordcount' to not include HTML tags in wordcount -->
            <div class="mt-n3 mb-3 read-more" style="display: {% if event.description|striptags|wordcount > event.descr_truncate_num %}block{% else %}none{% endif %};">
              <a href="{% url 'event_detail' event.slug %}">Read More &rarr;</a>
            </div>
            {% if perms.events %}
            <div class="mb-3 descr_truncate_num">
              <!-- 'get_min_descr_truncate_num' and 'edit_truncate_num_display' are custom template tags -->
              <input type="number" name="truncate_num" value="{{ event.descr_truncate_num }}" min="{{ event.min_descr_truncate_num }}" max="{% if event.description|striptags|wordcount > event.descr_truncate_num %}{{ event.description|striptags|wordcount }}{% else %}{{ event.descr_truncate_num }}{% endif %}" data-modify-truncated-descr-url="{% url 'modify_event_truncated_descr' event.id %}" disabled>
              <button class="btn btn-link edit" style="display: {% edit_truncate_num_display event %};">Edit</button>
              <span class="edit_mode" style="display: none;">
                <button class="btn btn-link max">Max</button>
                <button class="btn btn-link save" data-modify-truncate-num-url="{% url 'modify_event_descr_truncate_num' event.id %}">Save</button>
                <button class="btn btn-link cancel">Cancel</button>
              </span>
            </div>
            {% endif %}
            <p class="card-text">
              <!-- Register Button -->
              {% if event.registration_start_datetime %}
              {% if not user.is_authenticated %}
              <!-- "concatenate_eventid" is a custom templatefilter -->
              <a href="{% url 'login' %}?next={% firstof request.path|concatenate_eventid:event.id '/' %}" class="btn btn-success mr-2" role="button">Register</a>
              {% elif user in event.participants.all %}
              <button type="button" class="btn btn-secondary mr-2 deregister" data-event-registration-url="{% url 'modify_event_registration' id=event.id %}">Deregister</button>
              {% else %}
              <button type="button" class="btn btn-success mr-2 register" data-event-registration-url="{% url 'modify_event_registration' pk=event.id %}">Register</button>
              {% endif %}
              <!-- Occupancy -->
              <i class="fas fa-user"></i>
              <!-- "seats_left" is a custom templatefilter -->
              <span class="occupancy mr-min1080-30">
              {{ event.max_occupancy|seats_left:event.current_occupancy }}
              </span>
              {% endif %}
              <!-- Registration Datetime -->
              <br class="d-min1080-none">
              <i class="fas fa-clock"></i>
              Registration: {% if event.registration_start_datetime %}
              {{ event.registration_start_datetime|date:"D, M j, H:i" }} - {{ event.registration_end_datetime|date:"D, M j, H:i" }}
              {% else %}No registration required
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% compress js file events %}
<script src="{% static 'js/event_registration.js' %}"></script>
{% endcompress %}
{% endblock %}
