{% extends 'core/base/base.html' %}

{% load static %}
{% load compress %}
{% load events_tags %}

{% block title %}Events{% endblock %}

{% block css %}
{% compress css file events %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/events_main.scss' %}">
{% endcompress %}
{% endblock %}

{% block main %}
<div class="d-flex flex-row h-auto margin">
  <div class="container-fluid mx-0">
    <!-- Page Title -->
    <div class="row">
      <div class="col page-title-box text-center py-1">
        Events
      </div>
    </div>
    <!-- 
      Test filter 
      Note: Please remove this after testing the tag-filtering system
    -->
    {% include 'core/tag_filter.html' %}
    <!-- Add Event Button -->
    {% if perms.events %}
    <div class="row mb-3">
      <a href="{% url 'event_create' %}" class="btn btn-outline-info rounded-pill"><i class="fa fa-plus"></i>&nbsp;Add Event</a>
    </div>
    {% endif %}
    <!-- Events -->
    {% for event in event_list %}
    <div class="card mb-3 shadow" id="{{ event.id }}">
      <!-- Image -->
      <div class="d-min815-none card-img-top text-center">
        {% image_tag event listview=True %}
      </div>
      <div class="row no-gutters">
        <!-- Image -->
        <div class="d-max815-none col event-image-col">
          <!-- 'image_tag' is a custion templatetag -->
          {% image_tag event listview=True %}
        </div>
        <div class="col">
          <div class="card-body" id="{{ event.id }}">
            <!-- Edit Button -->
            {% if perms.events %}
            <div class="card-text mb-2">
              <i class="fas fa-edit text-primary"></i>
              <a href="{% url 'event_update' event.slug %}">Edit Event</a>
            </div>
            {% endif %}
            <!-- Title -->
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text mb-0">
              <!-- Event Datetime -->
              <i class="fas fa-calendar"></i>
              {{ event.event_start_datetime|date:"D, M j, H:i" }} - {{ event.event_end_datetime|date:"D, M j, H:i" }}
            </p>
            <p class="card-text mb-0">
              {% if event.is_link %}
              <!-- Link -->
                <i class="fas fa-link"></i>
                <a href="{{ event.link }}" target="_blank">{{ event.link }}</a>
              {% else %}
              <!-- Location -->
                <i class="fas fa-map-marker-alt"></i>
                {{ event.location }}
              {% endif %}
            </p>
            <!-- Important Message -->
            {% if event.important_message %}
            <p class="card-text mb-0">
              <i class="fas fa-exclamation ml-1 mr-2"></i>
              {{ event.important_message }}
            </p>
            {% endif %}
            <!-- Description -->
            <div class="event-description mt-2">
              {{ event.description|truncatewords_html:event.descr_truncate_num|safe }}
            </div>
            <!-- 'striptags' is used before 'wordcount' to not include HTML tags in wordcount -->
            <!-- Read More -->
            <div class="mt-n3 read-more" style="display: {% if event.description|striptags|wordcount > event.descr_truncate_num %}block{% else %}none{% endif %};">
              <button type="button" class="btn btn-link pl-0 readmore">Read More &rarr;</button>
            </div>
            <div class="mt-n3 read-less" style="display: none">
              <button type="button" class="btn btn-link pl-0 readless">&larr; Read Less</button>
            </div>
            {% if perms.events %}
            <div class="mb-3 descr_truncate_num">
              <!-- 'get_min_descr_truncate_num' and 'edit_truncate_num_display' are custom template tags -->
              <input type="number" name="truncate_num" value="{{ event.descr_truncate_num }}" min="{{ event.min_descr_truncate_num }}" max="{% if event.description|striptags|wordcount > event.descr_truncate_num %}{{ event.description|striptags|wordcount }}{% else %}{{ event.descr_truncate_num }}{% endif %}" data-modify-truncated-descr-url="{% url 'modify_event_truncated_descr' event.id %}" disabled>
              <button class="btn btn-link edit" style="display: {% edit_truncate_num_display event %};">Edit</button>
              <span class="edit_mode" style="display: none;">
                <button class="btn btn-link max">Max</button>
                <button class="btn btn-link save" data-modify-truncate-num-url="{% url 'modify_event_descr_truncate_num' event.id %}">Save</button>
                <button class="btn btn-link cancel">Cancel</button>
              </span>
            </div>
            {% endif %}
            <p class="card-text">
              <!-- Register Buttons -->
              <!--{% if event.registration_start_datetime %}
              {% if not user.is_authenticated %}-->
              <!-- "concatenate_eventid" is a custom templatefilter -->
              <!-- Login Button for registration -->
              <!--<a href="{% url 'login' %}" class="btn btn-success mr-2" role="button">Login</a>-->
              <!--{% elif user in event.participants.all %}-->
              <!-- Deregister Button -->
              <!--<button type="button" class="btn btn-secondary mr-2 deregister" data-event-registration-url="{% url 'modify_event_registration' id=event.id %}">Deregister</button>
              {% else %}-->
              <!-- Register Button -->
              <!--<button type="button" class="btn btn-success mr-2 register" data-event-registration-url="{% url 'modify_event_registration' pk=event.id %}">Register</button>-->
              <!--{% endif %}-->
              <!-- Cancel Button -->
              <!--<button type="button" class="btn btn-secondary mr-2 register-cancel" style="display: none;">Cancel</button>-->
              <a class="btn btn-success mr-2" href="{{ event.registration_form_src }}" target="_blank">Register</a>
              <!-- Occupancy -->
              <i class="fas fa-user"></i>
              <!-- "seats_left" is a custom templatefilter -->
              <span class="occupancy mr-min1080-30">
              {{ event.max_occupancy|seats_left:event.current_occupancy }}
              </span>
              {% endif %}
              <!-- Registration Datetime -->
              <br class="d-min1080-none">
              <i class="fas fa-clock"></i>
              Registration: {% if event.registration_start_datetime %}
              {{ event.registration_start_datetime|date:"D, M j, H:i" }} - {{ event.registration_end_datetime|date:"D, M j, H:i" }}
              {% else %}No registration required
              {% endif %}
              <!-- TODO: Embedded registratrion form -->
              {% comment %} <div class="register-form embed-responsive embed-responsive-21by9" style="display: none;">
                <iframe class="register-form-iframe embed-responsive-item" src="{{ event.registration_form_src }}" marginheight="0" marginwidth="0">Loading…</iframe>
              </div> {% endcomment %}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="text-center">
      <h4></h4>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
{% compress js file events %}
<script src="{% static 'js/event_registration.js' %}"></script>
<script src="{% static 'js/event_truncation.js' %}"></script>
<script src="{% static 'js/event_readmore.js' %}"></script>
<!--
  This is the js file associated with the tag filter interface
  Note: please remove after you are done with testing.
-->
<script src="{% static 'js/tag_filter.js' %}"></script>
{% endcompress %}
{% endblock %}
