{% extends 'core/base/base.html' %} 

{% load static %}
{% load compress %}

{% block title %}Important Links{% endblock %}
{% block main %}
<div class="d-flex flex-row h-auto margin">  
	<div class="container-fluid">
	  <!-- Page Title -->
	  <!-- This part can be removed if it doesn't look good with the page design we have currently -->
	  <div class="row">
		<div class="col page-title-box text-center py-1"> 
			Important Links
		</div>
	  </div>
	</div>
  </div>
{% block content %} {% endblock %}   
{% endblock %}
