{% extends 'core/base/base.html' %}

{% load static %}
{% load compress %}

{% block css %}
{% compress css file important_links %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/links_main.scss' %}">
{% endcompress %}
{% endblock %}

{% block title %}Important Links{% endblock %}

{% block main %}
<div class="d-flex flex-row h-auto margin">
	<div class="container-fluid">
	  <!-- Page Title -->
	  <div class="row">
		<div class="col page-title-box text-center py-1">
			Important Links
		</div>
	  </div>
	</div>
  </div>
{% block content %} {% endblock %}

{% block js %}
{% compress js file important_links %}
<script src="{% static 'js/smoothScroll.js' %}"></script>
{% endcompress %}
{% endblock %}
{% endblock %}
