{% extends 'important_links/templates/important_links/links_base.html' %}

{% load static %}
{% load compress %}

{% block css %}
{% compress css file important_links %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/links_main.scss' %}">
{% endcompress %}
{% endblock %}


{% block content %}
<!-- LINKS (check views.py for details if needed)-->
<div class="cat-list">
	{% for category in categories %}
	<p class="cat-name">{{category.title_category}}</p>
	<ul class="link-list">
		{% for link in category.links.all %}
		<!-- <li>Title: {{link.title}}, Description: {{link.description}}, URL: {{link.url}}</li> -->
    <li>
      <h4 class="link-heading"> {{ link.title }} </h4>
      <p class="link-description">
        {{ link.description }}
      </p>
      <div class="link-url"> <a class="link"> {{link.url}} </a> </div>

    </li>
    {%endfor%}
	</ul>
	{% endfor %}
</div>
<!-- END OF LINKS -->
{% endblock %}
