body {
  margin:0;
  padding:0;
  font-family: 'arial', sans-serif;

}


.faq-list {
    list-style: none;
    padding: 10px;
    margin: 0px
}

.faq-list li {
  //margin: auto;
  //margin-right: 0px;
  border-radius: 25px;
  padding-left: 0px;
  border: 1px solid rgb(71, 90, 90);
    //padding: 27px 30px;
    padding: 0px;
    //margin: 0px auto 30px;
    margin: 0px;
    text-align: left;
    width: 600px;
}


.faq-list .faq-heading::before {
    content: '+';
   font-size: 40px;
    display: block;
    position: absolute;
   right: 20px;
    top: -13px;
  color: #1016bb;
}

.faq-list .the-active .faq-heading::before {
    content: '-';
}

.faq-list .the-active .faq-heading::before {
    content: '-';
}

.faq-heading {
    position: relative;
    left: 10px;
    cursor: pointer;
    font-size: 18px;
  font-weight: 400;
  margin:0;
}

.faq-heading:hover {
    color: var(--theme-color);
}

.faq-text {
    display: none;
    position: relative;
    left: 10px;
}


.cat-list {
    list-style: none;
    padding: 0px;
}

.cat-list li {
    margin: auto;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    border-top: 1px solid rgb(30, 30, 30);
    border-bottom: 1px solid rgb(30, 30, 30);
        width: 600px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
    padding-left: auto;
    //background-color: #107cbb;
}
.cat-list .cat-heading::before {
    content: '+';
   font-size: 40px;
    display: block;
    position: absolute;
   right: 10px;
    top: -10px;
  color: #1016bb;
}

.cat-list .the-active .cat-heading::before {
    content: '-';
}

.cat-list .the-active .cat-heading::before {
    content: '-';
}

.cat-heading {
    position: relative;
    cursor: pointer;
    font-size: 18px;
  font-weight: 400;
  margin:0;
}

.cat-heading:hover {
    color: var(--theme-color);
}

.cat-text {
    display: none;
}


.container {
  width: 1200px;
  margin: auto;
}
.art-box svg {
  width:100%;
}
.row {
  display:flex;
}
.row .col {
  flex-basis: 50%;
}
.read {
    color: rgb(100, 100, 100);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 25px;
}
