/* Banner Font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,900&family=Yanone+Kaffeesatz:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html{
    font-size:100%;
}

.container-fluid{
    padding:0 !important;
    overflow: hidden;
}

.multimedia-head-container{
    margin:0;
    padding:0;
    position:relative;
    width:100vw;
    display:flex;
}

.multimedia_title{
    font-size: 3vw;
    font-weight: bold;
    position: absolute;
    color:white;
    z-index: 0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-self: center;
    left:50%;
    transform: translate(-50%,0);
}

.multimedia_title_image{
    width: 100%;
    height: auto;
    max-height: calc(100vh - 230px);
    position: relative;
    filter: brightness(70%);
    z-index: -1;
    object-fit: cover;
}

.multimedia-grid{
    max-width: 60rem;
    margin: 0 auto;
    display: column;
    columns: 3;
    gap: 1em;
}

.multimedia-grid > *{
    break-inside: avoid;
    margin-bottom: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.multimedia-image-card{
    background-color: #f3f4f6;
    margin:0 auto;
    border-radius:10px;
    max-width:300px;
}

.multimedia-card-title{
    font-family: Inter,sans-serif;
    color:#111827;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.multimedia-card-title:hover{
    text-decoration: none;
    color: inherit;
}

.multimedia-card-date{
    font-family: Inter,sans-serif;
    color:#111827;
    font-size: .9rem;
}

.display-2{
    font-size: 2.5rem;
    font-weight: 600;
}

.badge{
    font-size: 1rem;
}

.multimedia-rounded-img {
    object-fit:cover;
    width: 300px;
    height:100%;
    max-height: 400px;
    margin:0;
    padding:0;
}

.masonry-img {
    width: 300px;
    height:100%;
    border-radius: 10px;
    margin:auto;
}

.carousel-indicators{
    bottom:-40px;
}
.carousel-indicators li{
    background-color: #111827;
}

.pagination .page-item .page-link{
    text-decoration: none;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: .875rem;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.pagination .page-item.active .page-link{
    background-color: #343a40;
    color: #fff;
}

@media only screen and (max-width: 1000px){
    .multimedia-grid{
        max-width: 40rem;
        margin: auto;
        display: column;
        columns: 2;
        gap: 1em;
    }
    .multimedia_title{
        font-size: 2.7rem;
    }
}
@media only screen and (max-width: 780px){
    .multimedia-grid{
        max-width: 60rem;
        margin: 0 auto;
        display: column;
        columns: 1;
        gap: 1em;
    }
    .masonry-img {
        max-width: 75vw;
        border-radius: 20px;
        margin: auto;
    }
}

@media only screen and (max-width: 40em){
    html{
        font-size:62.5%;
    }
    .multimedia-image-card{
        width:70vw;
    }
    
}