/* Banner Font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,900&family=Yanone+Kaffeesatz:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html{
    font-size:100%;
}

.container-fluid{
    padding:0 !important;
}

.multimedia-head-container{
    position:relative;
    display:flex;
}

.multimedia_title_image{
    width:100vw;
    background-position: center;
    background-size: cover;
    position: relative;
    filter: brightness(70%);
    z-index: -1;
    height:100%;
}

.multimedia_title{
    position: absolute;
    color:white;
    z-index: 0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 400;
    display: flex;
    align-self: center;
    left:50%;
    transform: translate(-50%,0);
}

.multimedia-image-card{
    background-color: #f3f4f6;
    margin:0 auto;
    border-radius:10px;
    max-width:300px;
}

.multimedia-card-title{
    font-family: Inter,sans-serif;
    color:#111827;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.multimedia-card-title:hover{
    text-decoration: none;
    color: inherit;
}

.multimedia-card-date{
    font-family: Inter,sans-serif;
    color:#111827;
    font-size: .9rem;
}

.multimedia-rounded-img {
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
}

.multimedia-grid{
    max-width: 60rem;
    margin: 0 auto;
    display: column;
    columns: 3;
    gap: 1em;
}

.multimedia-grid > *{
    break-inside: avoid;
    margin-bottom: 1em;
}

.masonry-img {
    max-width: 300px;
    border-radius: 20px;
    margin: auto;
}

.badge{
    font-size: 16px;
}

@media only screen and (max-width: 1000px){
    .multimedia-grid{
        max-width: 60rem;
        margin: auto;
        display: column;
        columns: 2;
        gap: 1em;
    }
}
@media only screen and (max-width: 780px){
    .multimedia-grid{
        max-width: 60rem;
        margin: 0 auto;
        display: column;
        columns: 1;
        gap: 1em;
    }
    .masonry-img {
        max-width: 75vw;
        border-radius: 20px;
        margin: auto;
    }
}

@media only screen and (max-width: 40em){
    html{
        font-size:62.5%;
    }
    .multimedia-image-card{
        width:70vw;
    }
    
}