*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

#root :is(.static) {
  position: static
}

#root :is(.absolute) {
  position: absolute
}

#root :is(.relative) {
  position: relative
}

#root :is(.sticky) {
  position: -webkit-sticky;
  position: sticky
}

#root :is(.left-0) {
  left: 0px
}

#root :is(.top-0) {
  top: 0px
}

#root :is(.left-1\/2) {
  left: 50%
}

#root :is(.top-1\/2) {
  top: 50%
}

#root :is(.top-20) {
  top: 5rem
}

#root :is(.z-0) {
  z-index: 0
}

#root :is(.z-10) {
  z-index: 10
}

#root :is(.my-2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

#root :is(.my-4) {
  margin-top: 1rem;
  margin-bottom: 1rem
}

#root :is(.mb-4) {
  margin-bottom: 1rem
}

#root :is(.mr-2) {
  margin-right: 0.5rem
}

#root :is(.mb-8) {
  margin-bottom: 2rem
}

#root :is(.inline) {
  display: inline
}

#root :is(.flex) {
  display: flex
}

#root :is(.h-20) {
  height: 5rem
}

#root :is(.h-80) {
  height: 20rem
}

#root :is(.h-full) {
  height: 100%
}

#root :is(.h-40) {
  height: 10rem
}

#root :is(.h-60) {
  height: 15rem
}

#root :is(.h-10) {
  height: 2.5rem
}

#root :is(.h-12) {
  height: 3rem
}

#root :is(.h-32) {
  height: 8rem
}

#root :is(.h-28) {
  height: 7rem
}

#root :is(.h-14) {
  height: 3.5rem
}

#root :is(.min-h-\[80vh\]) {
  min-height: 80vh
}

#root :is(.min-h-\[90vh\]) {
  min-height: 90vh
}

#root :is(.min-h-\[85vh\]) {
  min-height: 85vh
}

#root :is(.min-h-\[83vh\]) {
  min-height: 83vh
}

#root :is(.min-h-\[84vh\]) {
  min-height: 84vh
}

#root :is(.min-h-\[calc\(100vh-13rem\)\]) {
  min-height: calc(100vh - 13rem)
}

#root :is(.min-h-\[calc\(100vh-11rem\)\]) {
  min-height: calc(100vh - 11rem)
}

#root :is(.min-h-\[calc\(100vh-12rem\)\]) {
  min-height: calc(100vh - 12rem)
}

#root :is(.min-h-\[calc\(100vh-14rem\)\]) {
  min-height: calc(100vh - 14rem)
}

#root :is(.w-2\/3) {
  width: 66.666667%
}

#root :is(.w-3\/12) {
  width: 25%
}

#root :is(.w-9\/12) {
  width: 75%
}

#root :is(.w-full) {
  width: 100%
}

#root :is(.w-40) {
  width: 10rem
}

#root :is(.w-1\/3) {
  width: 33.333333%
}

#root :is(.w-10\/12) {
  width: 83.333333%
}

#root :is(.w-11\/12) {
  width: 91.666667%
}

#root :is(.w-\[98\%\]) {
  width: 98%
}

#root :is(.-translate-x-1\/2) {
  --tw-translate-x: -50%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#root :is(.-translate-y-1\/2) {
  --tw-translate-y: -50%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#root :is(.rotate-45) {
  --tw-rotate: 45deg;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#root :is(.transform) {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

#root :is(.animate-pulse) {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}

#root :is(.cursor-pointer) {
  cursor: pointer
}

#root :is(.resize) {
  resize: both
}

#root :is(.flex-col) {
  flex-direction: column
}

#root :is(.items-center) {
  align-items: center
}

#root :is(.justify-center) {
  justify-content: center
}

#root :is(.gap-x-0) {
  -webkit-column-gap: 0px;
          column-gap: 0px
}

#root :is(.gap-x-0\.5) {
  -webkit-column-gap: 0.125rem;
          column-gap: 0.125rem
}

#root :is(.gap-x-2) {
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem
}

#root :is(.gap-y-0) {
  row-gap: 0px
}

#root :is(.gap-y-0\.5) {
  row-gap: 0.125rem
}

#root :is(.gap-y-4) {
  row-gap: 1rem
}

#root :is(.gap-x-4) {
  -webkit-column-gap: 1rem;
          column-gap: 1rem
}

#root :is(.gap-y-2) {
  row-gap: 0.5rem
}

#root :is(.self-end) {
  align-self: flex-end
}

#root :is(.justify-self-end) {
  justify-self: end
}

#root :is(.overflow-auto) {
  overflow: auto
}

#root :is(.rounded-lg) {
  border-radius: 0.5rem
}

#root :is(.rounded-xl) {
  border-radius: 0.75rem
}

#root :is(.border) {
  border-width: 1px
}

#root :is(.border-8) {
  border-width: 8px
}

#root :is(.border-4) {
  border-width: 4px
}

#root :is(.border-dashed) {
  border-style: dashed
}

#root :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

#root :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

#root :is(.bg-cyan-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(8 145 178 / var(--tw-bg-opacity))
}

#root :is(.bg-sky-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(2 132 199 / var(--tw-bg-opacity))
}

#root :is(.bg-gray-400) {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity))
}

#root :is(.bg-\[\]) {
  background-color: 
}

#root :is(.bg-\[url\(\'\.\/kisaLogo\.png\'\)\]) {
  background-image: url('./kisaLogo.png')
}

#root :is(.bg-\[url\(\'kisaLogo\.png\'\)\]) {
  background-image: url('kisaLogo.png')
}

#root :is(.bg-\[url\(\'\$PUBLIC_URL\/kisaLogo\.png\'\)\]) {
  background-image: url('$PUBLIC_URL/kisaLogo.png')
}

#root :is(.bg-\[url\(\'\/kisaLogo\.png\'\)\]) {
  background-image: url('/kisaLogo.png')
}

#root :is(.bg-\[url\(\'\.\.\/assets\/kisaLogo\.png\'\)\]) {
  background-image: url('../assets/kisaLogo.png')
}

#root :is(.bg-\[url\(\'\.\.\/\.\.\/assets\/kisaLogo\.png\'\)\]) {
  background-image: url('../../assets/kisaLogo.png')
}

#root :is(.bg-\[url\(\'\.\/assets\/kisaLogo\.png\'\)\]) {
  background-image: url('./assets/kisaLogo.png')
}

#root :is(.bg-auto) {
  background-size: auto
}

#root :is(.bg-\[length\:50vh\]) {
  background-size: 50vh
}

#root :is(.bg-\[length\:50vh_5vh\]) {
  background-size: 50vh 5vh
}

#root :is(.bg-\[length\:50vh_50vh\]) {
  background-size: 50vh 50vh
}

#root :is(.bg-fixed) {
  background-attachment: fixed
}

#root :is(.bg-center) {
  background-position: center
}

#root :is(.bg-no-repeat) {
  background-repeat: no-repeat
}

#root :is(.p-4) {
  padding: 1rem
}

#root :is(.p-3) {
  padding: 0.75rem
}

#root :is(.py-10) {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

#root :is(.px-10) {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

#root :is(.px-12) {
  padding-left: 3rem;
  padding-right: 3rem
}

#root :is(.px-32) {
  padding-left: 8rem;
  padding-right: 8rem
}

#root :is(.pt-2) {
  padding-top: 0.5rem
}

#root :is(.pt-4) {
  padding-top: 1rem
}

#root :is(.pt-12) {
  padding-top: 3rem
}

#root :is(.pt-8) {
  padding-top: 2rem
}

#root :is(.pb-4) {
  padding-bottom: 1rem
}

#root :is(.text-center) {
  text-align: center
}

#root :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

#root :is(.text-3xl) {
  font-size: 1.875rem;
  line-height: 2.25rem
}

#root :is(.text-4xl) {
  font-size: 2.25rem;
  line-height: 2.5rem
}

#root :is(.text-5xl) {
  font-size: 3rem;
  line-height: 1
}

#root :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

#root :is(.text-9xl) {
  font-size: 8rem;
  line-height: 1
}

#root :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

#root :is(.font-bold) {
  font-weight: 700
}

#root :is(.font-extrabold) {
  font-weight: 800
}

#root :is(.font-black) {
  font-weight: 900
}

#root :is(.uppercase) {
  text-transform: uppercase
}

#root :is(.italic) {
  font-style: italic
}

#root :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

#root :is(.opacity-50) {
  opacity: 0.5
}

#root :is(.opacity-80) {
  opacity: 0.8
}

#root :is(.opacity-60) {
  opacity: 0.6
}

#root :is(.shadow-none) {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#root :is(.blur) {
  --tw-blur: blur(8px);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#root :is(.filter) {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#root :is(.backdrop-blur) {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

#root :is(.backdrop-filter) {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

#root :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

#root :is(.transition-colors) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

#root :is(.transition-opacity) {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

#root :is(.transition-transform) {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

#root :is(.ease-in) {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}

#root :is(.hover\:text-black:hover) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
