{% extends 'blog/templates/blog/blog_base.html' %} 

{% load static %}
{% load compress %}

{% block title %} Blog {% endblock %}

{% block main %}
{% include 'core/tag_filter.html' %}

<h4 class="text-muted ml-5">Results: {{ num_results }}</h4>
<div class="d-flex justify-content-around align-items-start flex-wrap mt-3">
    {% for post in posts %}
      <div class="card shadow m-3 bg-light" style="width: {{ post.default_preview_size }}px;">
        <!-- Post Image Preview -->
        <div class="pre-image-container">
          {% if post.image %}
            {{ post.get_image_tag }} 
          {% else %}
            <div class="card-img-top pre-image" style=" width:100%;height:{{ post.default_preview_size }}px;background-color:#F5F5F5;">
            </div>
          {% endif %} 
          <!-- Sub-category Post Hover Animation -->
          <link rel="stylesheet" href="{% static 'css/sub_category_style.css' %}">
               
          <!-- {% if category != post.category %}  -->
            <!-- Hidden Layer for Category Info Text -->
            <!-- <div class="hidden-layer"> -->
              <!-- <h4 class="text-light">{{ post.category }}</h4> -->
            <!-- </div> -->
          <!-- {% endif %} -->
        </div>
        <div class="card-body">
		  
          <!-- Title -->
          <h3 class="card-title text-center" ><a class="text-dark" href="#">{{ post.title }}</a></h3>
		  {% for tag in post.tags.all %}
			<small class="text-info">#{{ tag }}</small>
			{% endfor %}
          <div class="row mt-3">
			
            <!-- Edit Button -->
            <div class="col text-left">
              <div class="card-text">
                <i class="fas fa-edit text-primary"></i>
                <a href="#">Edit</a>
              </div>
            </div>
            <!-- Date -->
            <div class="col text-right">
              <a class="text-muted">{{ post.created|date:"d M Y" }}</a>
            </div>
          </div>
        </div>
      </div>
	  {% empty %}
		  <h3>No results</h3>
    {% endfor %}
	
  </div>
  <div class="pagination justify-content-around mt-3">
    <span class="step-links">
        {% if posts.has_previous %}
          <a href="?page=1" class="btn btn-primary btn-sm">&laquo;</a>
          <a href="?page={{ posts.previous_page_number }}" class="btn btn-primary btn-sm">&lt;</a>
        {% else %}
          <a href="#" class="btn btn-primary btn-sm disabled">&laquo;</a>
          <a href="#" class="btn btn-primary btn-sm disabled">&lt;</a>
        {% endif %}
        {% for id in page_ids %}
            {% if id == cur_page%}
              <a href="?page={{ id }}" class="btn btn-danger btn-sm">{{ id }}</a>
            {% else %}
              <a href="?page={{ id }}" class="btn btn-primary btn-sm">{{ id }}</a>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" class="btn btn-primary btn-sm">&gt;</a>
            <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-primary btn-sm">&raquo;</a>
        {% else %}
            <a href="#" class="btn btn-primary btn-sm disabled">&gt;</a>
            <a href="#" class="btn btn-primary btn-sm disabled">&raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}

{% block js %}
{% compress js file events %}
<script src="{% static 'js/tag_filter.js' %}"></script>
{% endcompress %}
{% endblock %}