{% extends 'blog/templates/blog/blog_base.html' %} 

{% load static %}
{% load compress %}

{% block css %}
<link href="{% static 'css/blog_post.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center flex-wrap my-3">
    <div class="card" id="blog-post">
      <div class="caption">
        <!-- Post Image -->
        {% if image %}
          <div class="text-center">
            <img src="{{ image.url }}" class="img-fluid">
          </div>
        {% endif %}
      </div>
      <div class="card-body">
        <!-- Head Part -->
        <div class="d-flex justify-content-end mt-1">
          <!-- Edit Button -->
          <!-- <div class="text-left">
            <div class="card-text">
              <i class="fas fa-edit text-primary"></i>
              <a href="#">Edit</a>
            </div>
          </div> -->
          <div class="text-right">
            <!-- Date -->
            <a class="text-muted">{{ created|date:"d M Y" }}</a>
          </div>
        </div>
        <div class="d-flex justify-content-center w-100 my-1">
          <div class="w-75">
            <h1 class="text-center">{{title}}</h1>
            <div class="d-flex justify-content-center my-3"> 
              <div class="d-flex justify-content-center w-50 flex-wrap">
                {% for tag in tags.all %}
                  <a href="../?tags={{ tag }}"><small class="text-secondary mx-1"><b>#</b>{{ tag }}</small></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div> 
        <div id="blog-content">
          <!-- Post Content -->
          <div>{{ content|safe }}</div>
        </div> 
      </div>
    </div>
  </div>
{% endblock %}