{% extends 'blog/templates/blog/blog_base.html' %} 

{% load static %}
{% load compress %}

{% block title %} Blog {% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
    <div class="card w-75">
      <div class="caption">
        <!-- Post Image -->
        {% if image %}
          <div class="text-center">
            <img src="{{ image.url }}" class="img-fluid">
          </div>
        {% endif %}
      </div>
      <div class="card-body">
        <!-- Head Part -->
        <div class="d-flex justify-content-between mt-1">
          <!-- Edit Button -->
          <div class="text-left">
            <div class="card-text">
              <i class="fas fa-edit text-primary"></i>
              <a href="#">Edit</a>
            </div>
          </div>
          <div class="text-right">
            <!-- Date -->
            <a class="text-muted">{{ created|date:"d M Y" }}</a>
          </div>
        </div>
        <div class="d-flex justify-content-center w-100 my-1">
          <div class="w-75">
            <h1 class="text-center">{{title}}</h1>
            <div class="d-flex justify-content-center my-3"> 
              <div class="d-flex justify-content-center w-50 flex-wrap">
                {% for tag in tags.all %}
                  <small class="text-info mx-2">#{{ tag }}</small>
                {% endfor %}
              </div>
            </div>
          </div>
        </div> 
        <div class="card-body">
          <!-- Post Content -->
          <div>{{ content|safe }}</div>
        </div> 
    </div>
  </div>
{% endblock %}