<!--This includes the base code for the html from core -->
{% extends 'multimedia/templates/multimedia/multimedia_base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/multimedia.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}



<div class = "container m-4 mx-auto multimedia-container">
    <div id="tag-filter">
      <div>
        <div class="my-1">
            <button type="button" id="tag-filter-button" class="multimedia_filter_btn">Filter by Tags </button>
            <div id="active-tags" class="my-1"></div>
        </div>

        <div class="rounded border w-75" id="tag-filter-area" style="display: none">
            <div class="m-3 d-flex flex-wrap tag-container" id="tag-field">
                {% for tag in tagObjects %}
                    <button class = "tag btn btn-outline-dark btn-sm rounded-pill m-1" value="{{ tag.tag_name }}">
                        {{ tag.tag_name }}
                    </button>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-end m-2">
                <!-- this is to reset the button list -->
                <button class="btn btn-secondary btn-sm mx-1" id="tag-reset">
                    Clear
                </button>
                <!-- this is to press search, will make a GET reuest to the backend with selected tags as parameters-->
                <button class="btn btn-dark btn-sm mx-1" id="tag-search">
                    Search
                </button>
            </div>
        </div>
    </div>
    </div>
    <hr>
    {% for media in multimedia %}
    <div class="multimedia-image-card">
        <img class="card-img-top" src="{{media.preview}}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">
            <a href="pages/{{media.slug}}" class="multimedia-card-title">{{media.title}}</a><br>
            {% for tag in media.tags %}
                <small class="multimedia-card-tag">#{{tag}} </small>
            {% endfor %}
        </h5>
        <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, consectetur distinctio. Enim architecto, officia tempore nihil iste voluptates provident neque!</p> -->
        <p class="card-text"><small class="multimedia-card-date">{{media.date}}</small></p>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block js %}
<!-- Tag Filtering -->
<script src="{% static 'js/tag_filter.js' %}"></script>
{% endblock %}
