<!--check the context in views.py for the content accessible-->

<!--This includes the base code for the html from core -->
{% extends 'multimedia/templates/multimedia/multimedia_base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/multimedia.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container m-4 mx-auto">

<h1 class="text-display text-center text-uppercase display-2">{{title}}</h1>
<div class="row justify-content-center">
    {% for tag in tags %}
        <span class="badge badge-info m-1 p-2 lead">{{tag | title}}</span>
    {% endfor %}
</div>

<!-- Test images slides  -->
<!-- <h1 class="row justify-content-center mt-12">Gallery</h1> -->
<section class="carousel-default">
    <div class="row justify-content-center mt-3" >
        <div id="myCarousel" class="col-9 carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for img in images|slice:":3" %}
                    {% if forloop.counter > 1 %}
                        <div class="carousel-item">
                            <a href={{img.src}}>
                                <img src={{img.src}} class="w-100 multimedia-rounded-img" alt="img">
                                <!-- {{img.title}} -->
                            </a>
                        </div>
                        <!-- {{img.title}} -->
                    {% else %}
                        <div class="carousel-item active">
                            <a href={{img.src}}>
                                <img src={{img.src}} class="w-100 multimedia-rounded-img" alt="img">
                                <!-- {{img.title}} -->
                            </a>
                        </div>
                        <!-- {{img.title}} -->
                    {% endif %}
                {% endfor %}
            
            </div>
        
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>  

<div class="multimedia-grid">
    {% for img in images|slice:"3:" %}
        <div class="pt-2 masonry-img">
            <a href={{img.src}}>
                <img loading="lazy" src={{img.src}} class="masonry-img" alt="img">
                <!-- {{img.title}} -->
            </a>
        </div>
    {% endfor %}
</div>

<!-- Opening Image Display End -->
<!-- Gallery Images Display Start -->

<!-- Image Carousel Display Start -->

<!-- Image Carousel Display End -->
<!-- Video Carousel Display Start -->
  
<!-- Video Carousel Display End -->

</div>
{% endblock %}
