<!--check the context in views.py for the content accessible-->

<!--This includes the base code for the html from core -->
{% extends 'multimedia/templates/multimedia/multimedia_base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/multimedia.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container m-4 mx-auto">

<h1 class="text-display text-center">{{title}}</h1>
<p class="text-muted"><small>
    {% for tag in tags %}
        #{{tag}}
    {% endfor %}
</small></p>

<!-- Test images slides  -->
<!-- <h1 class="row justify-content-center mt-12">Gallery</h1> -->
<div id="slide-container" style="height:40rem;">
    
    <div class="row justify-content-center mt-3" >
        <div id="myCarousel" class="col-9 carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol> -->
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for img in images|slice:":5" %}
                    {% if forloop.counter > 1 %}
                        <div class="carousel-item">
                            <a href={{img.src}}>
                                <img src={{img.src}} class="w-100 multimedia-rounded-img" alt="img">
                                <!-- {{img.title}} -->
                            </a>
                        </div>
                        <!-- {{img.title}} -->
                    {% else %}
                        <div class="carousel-item active">
                            <a href={{img.src}}>
                                <img src={{img.src}} class="w-100 multimedia-rounded-img" alt="img">
                                <!-- {{img.title}} -->
                            </a>
                        </div>
                        <!-- {{img.title}} -->
                    {% endif %}
                {% endfor %}
            
            </div>
        
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4 flex-col">
        {% for img in images|slice:"5:" %}
            {% if forloop.counter0|divisibleby:"3" %}
                <div class="pt-2">
                    <a href={{img.src}}>
                        <img src={{img.src}} class="w-100 multimedia-rounded-img" alt="img">
                        <!-- {{img.title}} -->
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-4 flex-col">
        {% for img in images|slice:"6:" %}
            {% if forloop.counter0|divisibleby:"3" %}
                <div class="pt-2">
                    <a href={{img.src}}>
                        <img src={{img.src}} class="w-100 multimedia-rounded-img" alt="img">
                        <!-- {{img.title}} -->
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-4 flex-col">
        {% for img in images|slice:"7:" %}
            {% if forloop.counter0|divisibleby:"3" %}
                <div class="pt-2">
                    <a href={{img.src}}>
                        <img src={{img.src}} class="w-100 multimedia-rounded-img" alt="img">
                        <!-- {{img.title}} -->
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Opening Image Display End -->
<!-- Gallery Images Display Start -->

<!-- Image Carousel Display Start -->

<!-- Image Carousel Display End -->
<!-- Video Carousel Display Start -->
  
  <!-- Video Carousel Display End -->

</div>
{% endblock %}
