{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-darker">
  <a class="navbar-brand mr-4" href="{% url 'homepage' %}">
    <!-- Logo set as css background image (base.css) -->
    <span class="text-light brand-text">KAIST International</span><br />
    <span class="text-light brand-text">Students&apos; Association</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-contents" aria-controls="navbar-contents" aria-expanded="false" aria-label="Toggle navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menu items -->
  <div class="collapse navbar-collapse ml-4" id="navbar-contents">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{% url 'homepage' %}">Home</a>
      <!-- KAIST Life Dropdown -->
      <!--
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="klife-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          KAIST Life
        </a>
        <div class="dropdown-menu bg-dark mt-0 border-0" aria-labelledby="klife-dropdown">
          <a class="dropdown-item" href="#">Country Reps</a>
          <a class="dropdown-item" href="#">Clubs</a>
          <a class="dropdown-item" href="#">Course Resources</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">How to's</a>
          <a class="dropdown-item" href="#">Life & Academics</a>
          <a class="dropdown-item" href="#">Tips for Life</a>
        </div>
      </div>
      -->
      <!-- Dropdown end -->
      <a class="nav-item nav-link" href="{% url 'events' %}">Events</a>
      <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
      <!-- Welfare Dropdown -->
      {% if navbar %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="welfare-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welfare
        </a>
        <div class="dropdown-menu bg-darker mt-0 border-0" aria-labelledby="welfare-dropdown">
          {% if navbar.kisa_voice_link %}
          <a class="dropdown-item" href="{{ navbar.kisa_voice_link }}">KISA Voice</a>
          {% endif %}
          {% if navbar.kisa_books_link %}
          <a class="dropdown-item" href="{{ navbar.kisa_books_link }}">KISA Books: Buy & Sell</a>
          {% endif %}
          {% if navbar.internships_link %}
          <a class="dropdown-item" href="{{ navbar.internships_link }}">Internships</a>
          {% endif %}
          {% if navbar.kaist_ara_link %}
          <a class="dropdown-item" href="{{ navbar.kaist_ara_link }}">KAIST ARA</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
      <!-- Dropdown end -->
      <!-- Course Resources -->
      <a class="nav-item nav-link" href="{{ navbar.course_resources_link }}">Course Resources</a>
      <!--<a class="nav-item nav-link" href="#">About Us</a>-->
      <a class="nav-item nav-link" href="{% url 'faq' %}"> FAQ </a>
      <!-- Election -->
      {% if election_link_visible %}
      <a class="nav-item nav-link text-warning" href="{% url 'election' %}">Election</a>
      {% endif %}
      {% if user.is_staff %}
      <!-- Admin site -->
      <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
      <!-- Documentation -->
      <!--<a class="nav-item nav-link" href="{% url 'docs_root' %}" target="_blank">Docs</a>-->
      {% endif %}
    </div>
      <!-- Login -->
      
      {% if not user.is_authenticated %}
        {% if authmethod == logindev %}
        <a class="btn btn-outline-light" href="{% url 'admin:login' %}">Login</a>
        {% else %}
        <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
        {% endif %}
      {% else %}
        {% if user.is_staff %}
        <a class="btn btn-outline-light" href="{% url 'admin:logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
        {% endif %}
      {% endif %}
  </div>
</nav>
