@use "components/navbar_";
@use "components/footer";
@use "components/page";
/* line 6, core/static/scss/base.scss */
.btn {
  box-shadow: none !important; }

@media (min-width: 815px) {
  /* line 3, core/static/scss/mixins/_display.scss */
  .d-815px-block {
    display: block; } }

@media (min-width: 815px) {
  /* line 3, core/static/scss/mixins/_display.scss */
  .d-815px-none {
    display: none; } }

@media (min-width: 1080px) {
  /* line 3, core/static/scss/mixins/_display.scss */
  .d-1080px-block {
    display: block; } }

@media (min-width: 1080px) {
  /* line 3, core/static/scss/mixins/_display.scss */
  .d-1080px-none {
    display: none; } }
