/* line 3, core/static/scss/components/_navbar_.scss */
.navbar-brand {
  line-height: 90%;
  width: 150px;
  padding-left: 60px;
  padding-right: 10px;
  background-image: url("/static/img/kisa-logo-no-bg.png");
  background-size: 50px 50px;
  background-repeat: no-repeat; }

/* line 13, core/static/scss/components/_navbar_.scss */
.brand-text {
  font-family: 'Charm';
  font-size: 14px; }

/* line 19, core/static/scss/components/_navbar_.scss */
.navbar a {
  transition: 0.3s; }

/* line 20, core/static/scss/components/_navbar_.scss */
.navbar .nav-item:not(:last-child) {
  margin-right: 13px; }

/* line 23, core/static/scss/components/_navbar_.scss */
.dropdown-item {
  color: rgba(255, 255, 255, 0.5); }

/* line 27, core/static/scss/components/_navbar_.scss */
.dropdown-item:hover, .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: #343a40; }

/* line 32, core/static/scss/components/_navbar_.scss */
.dropdown-toggle::after {
  transition: transform 0.15s linear; }

/* line 36, core/static/scss/components/_navbar_.scss */
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px); }

/* line 3, core/static/scss/components/_footer.scss */
footer {
  padding-top: 40px;
  padding-bottom: 20px; }

/* line 8, core/static/scss/components/_footer.scss */
footer a {
  transition: 0.3s; }

/* line 12, core/static/scss/components/_footer.scss */
footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75); }

/* line 17, core/static/scss/components/_footer.scss */
.footer-about a {
  text-decoration: underline !important;
  text-decoration-style: dotted !important; }

/* line 22, core/static/scss/components/_footer.scss */
.footer-info {
  font-size: 13px;
  text-align: left;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.5); }

/* line 29, core/static/scss/components/_footer.scss */
.footer-font {
  font-family: 'Open Sans', sans-serif; }

/* line 33, core/static/scss/components/_footer.scss */
.footer-icon {
  padding-right: 5px; }

/* line 37, core/static/scss/components/_footer.scss */
.follow-us-icon {
  font-size: 20px;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.5); }

/* line 1, core/static/scss/components/_page.scss */
.page-title-box {
  background-color: #eee;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  margin-bottom: 20px; }

/* line 8, core/static/scss/components/_page.scss */
.margin {
  margin: 20px 30px; }

/* line 12, core/static/scss/components/_page.scss */
.section-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  margin-bottom: 20px; }

/* line 7, core/static/scss/base.scss */
.btn {
  box-shadow: none !important; }

/* line 11, core/static/scss/base.scss */
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important; }

@media (min-width: 815px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-min815-block {
    display: block; } }

@media (max-width: 816px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-max815-block {
    display: block; } }

@media (min-width: 815px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-min815-none {
    display: none; } }

@media (max-width: 814px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-max815-none {
    display: none; } }

@media (min-width: 1080px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-min1080-block {
    display: block; } }

@media (max-width: 1081px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-max1080-block {
    display: block; } }

@media (min-width: 1080px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-min1080-none {
    display: none; } }

@media (max-width: 1079px) {
  /* line 8, core/static/scss/mixins/_display.scss */
  .d-max1080-none {
    display: none; } }

@media (min-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mt-min815-30 {
    margin-top: 30px; } }

@media (min-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mb-min815-30 {
    margin-bottom: 30px; } }

@media (min-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .ml-min815-30 {
    margin-left: 30px; } }

@media (min-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mr-min815-30 {
    margin-right: 30px; } }

@media (max-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mt-max815-30 {
    margin-top: 30px; } }

@media (max-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mb-max815-30 {
    margin-bottom: 30px; } }

@media (max-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .ml-max815-30 {
    margin-left: 30px; } }

@media (max-width: 815px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mr-max815-30 {
    margin-right: 30px; } }

@media (min-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mt-min1080-30 {
    margin-top: 30px; } }

@media (min-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mb-min1080-30 {
    margin-bottom: 30px; } }

@media (min-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .ml-min1080-30 {
    margin-left: 30px; } }

@media (min-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mr-min1080-30 {
    margin-right: 30px; } }

@media (max-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mt-max1080-30 {
    margin-top: 30px; } }

@media (max-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mb-max1080-30 {
    margin-bottom: 30px; } }

@media (max-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .ml-max1080-30 {
    margin-left: 30px; } }

@media (max-width: 1080px) {
  /* line 5, core/static/scss/mixins/_margin.scss */
  .mr-max1080-30 {
    margin-right: 30px; } }
