/* line 3, core/static/scss/base/_navbar_.scss */
.navbar-brand {
  line-height: 90%;
  width: 150px;
  padding-left: 60px;
  padding-right: 10px;
  background-image: url("/static/img/kisa-logo-no-bg.png");
  background-size: 50px 50px;
  background-repeat: no-repeat; }

/* line 13, core/static/scss/base/_navbar_.scss */
.brand-text {
  font-family: 'Charm';
  font-size: 14px; }

/* line 19, core/static/scss/base/_navbar_.scss */
.navbar a {
  transition: 0.3s; }

/* line 20, core/static/scss/base/_navbar_.scss */
.navbar .nav-item:not(:last-child) {
  margin-right: 13px; }

/* line 23, core/static/scss/base/_navbar_.scss */
.nav-link.show {
  color: rgba(255, 255, 255, 0.75); }

/* line 27, core/static/scss/base/_navbar_.scss */
.dropdown-toggle::after {
  transition: transform 0.15s linear; }

/* line 31, core/static/scss/base/_navbar_.scss */
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px); }

/* line 3, core/static/scss/base/_footer.scss */
footer {
  padding-top: 40px;
  padding-bottom: 20px; }

/* line 8, core/static/scss/base/_footer.scss */
footer a {
  transition: 0.3s; }

/* line 12, core/static/scss/base/_footer.scss */
footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75); }

/* line 17, core/static/scss/base/_footer.scss */
.footer-about a {
  text-decoration: underline !important;
  text-decoration-style: dotted !important; }

/* line 22, core/static/scss/base/_footer.scss */
.footer-info {
  font-size: 13px;
  text-align: left;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.5); }

/* line 29, core/static/scss/base/_footer.scss */
.footer-font {
  font-family: 'Open Sans', sans-serif; }

/* line 33, core/static/scss/base/_footer.scss */
.footer-icon {
  padding-right: 5px; }

/* line 37, core/static/scss/base/_footer.scss */
.follow-us-icon {
  font-size: 20px;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.5); }
