.navbar-brand {
  line-height: 90%;
  width: 150px;
  padding-left: 60px;
  padding-right: 10px;
  background-image: url("/static/img/navbar-icon.png");
  background-size: 50px 50px;
  background-repeat: no-repeat; }

.brand-text {
  font-family: 'Charm';
  font-size: 14px; }

.navbar a {
  transition: 0.3s; }

.navbar .nav-item:not(:last-child) {
  margin-right: 13px; }

.dropdown-item {
  color: rgba(255, 255, 255, 0.5); }

.dropdown-item:hover, .dropdown-item:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: #343a40; }

.dropdown-toggle::after {
  transition: transform 0.15s linear; }

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px); }

footer {
  padding-top: 40px;
  padding-bottom: 20px; }

footer a {
  transition: 0.3s; }

footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75); }

.footer-about a {
  text-decoration: underline !important;
  text-decoration-style: dotted !important; }

.footer-info {
  font-size: 13px;
  text-align: left;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.5); }

.footer-font {
  font-family: 'Open Sans', sans-serif; }

.footer-icon {
  padding-right: 5px; }

.follow-us-icon {
  font-size: 20px;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.5); }

.page-title-box {
  background-color: #eee;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  margin-bottom: 20px; }

.margin {
  margin: 20px 30px; }

.section-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  margin-bottom: 20px; }

.btn {
  box-shadow: none !important; }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important; }

@media (min-width: 815px) {
  .d-min815-block {
    display: block; } }

@media (max-width: 816px) {
  .d-max815-block {
    display: block; } }

@media (min-width: 815px) {
  .d-min815-none {
    display: none; } }

@media (max-width: 814px) {
  .d-max815-none {
    display: none; } }

@media (min-width: 1080px) {
  .d-min1080-block {
    display: block; } }

@media (max-width: 1081px) {
  .d-max1080-block {
    display: block; } }

@media (min-width: 1080px) {
  .d-min1080-none {
    display: none; } }

@media (max-width: 1079px) {
  .d-max1080-none {
    display: none; } }

@media (min-width: 815px) {
  .mt-min815-30 {
    margin-top: 30px; } }

@media (min-width: 815px) {
  .mb-min815-30 {
    margin-bottom: 30px; } }

@media (min-width: 815px) {
  .ml-min815-30 {
    margin-left: 30px; } }

@media (min-width: 815px) {
  .mr-min815-30 {
    margin-right: 30px; } }

@media (max-width: 815px) {
  .mt-max815-30 {
    margin-top: 30px; } }

@media (max-width: 815px) {
  .mb-max815-30 {
    margin-bottom: 30px; } }

@media (max-width: 815px) {
  .ml-max815-30 {
    margin-left: 30px; } }

@media (max-width: 815px) {
  .mr-max815-30 {
    margin-right: 30px; } }

@media (min-width: 1080px) {
  .mt-min1080-30 {
    margin-top: 30px; } }

@media (min-width: 1080px) {
  .mb-min1080-30 {
    margin-bottom: 30px; } }

@media (min-width: 1080px) {
  .ml-min1080-30 {
    margin-left: 30px; } }

@media (min-width: 1080px) {
  .mr-min1080-30 {
    margin-right: 30px; } }

@media (max-width: 1080px) {
  .mt-max1080-30 {
    margin-top: 30px; } }

@media (max-width: 1080px) {
  .mb-max1080-30 {
    margin-bottom: 30px; } }

@media (max-width: 1080px) {
  .ml-max1080-30 {
    margin-left: 30px; } }

@media (max-width: 1080px) {
  .mr-max1080-30 {
    margin-right: 30px; } }
