/* line 1, events/static/scss/events_main.scss */
.event-image-col {
  flex: 0 0 260px; }

/* line 5, events/static/scss/events_main.scss */
#event i {
  margin-right: 4px; }

@media (min-width: 1080px) {
  /* line 12, events/static/scss/events_main.scss */
  br.registration-datetime {
    display: none; }
  /* line 16, events/static/scss/events_main.scss */
  i.registration-datetime {
    margin-left: 25px; }
  /* line 20, events/static/scss/events_main.scss */
  span.registration-datetime {
    margin-top: 10px; } }
