/* line 1, faq/static/scss/faq_main.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'arial', sans-serif; }

/* line 9, faq/static/scss/faq_main.scss */
.faq-list {
  list-style: none;
  padding: 10px;
  margin: 0px; }

/* line 15, faq/static/scss/faq_main.scss */
.faq-list li {
  border-radius: 25px;
  padding-left: 0px;
  border: 1px solid #475a5a;
  padding: 0px;
  margin: 0px;
  text-align: left;
  width: 600px; }

/* line 30, faq/static/scss/faq_main.scss */
.faq-list .faq-heading::before {
  content: '+';
  font-size: 40px;
  display: block;
  position: absolute;
  right: 20px;
  top: -13px;
  color: #475a5a; }

/* line 40, faq/static/scss/faq_main.scss */
.faq-list .the-active .faq-heading::before {
  content: '-'; }

/* line 44, faq/static/scss/faq_main.scss */
.faq-list .the-active .faq-heading::before {
  content: '-'; }

/* line 48, faq/static/scss/faq_main.scss */
.faq-heading {
  position: relative;
  left: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  margin: 0; }

/* line 57, faq/static/scss/faq_main.scss */
.faq-heading:hover {
  color: var(--theme-color); }

/* line 61, faq/static/scss/faq_main.scss */
.faq-text {
  display: none;
  position: relative;
  left: 10px; }

/* line 68, faq/static/scss/faq_main.scss */
.cat-list {
  list-style: none;
  padding: 0px; }

/* line 73, faq/static/scss/faq_main.scss */
.cat-list li {
  margin: auto;
  padding: 16px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 25px;
  border: 1px solid #475a5a;
  text-align: left;
  width: 70%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 20px; }

/* line 93, faq/static/scss/faq_main.scss */
.cat-list .cat-heading::before {
  display: block;
  border-radius: 40px;
  border: 2px solid #475a5a;
  height: 40px;
  width: 40px;
  background-color: yellow;
  content: '+';
  text-align: center;
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: -8px;
  color: #475a5a; }

/* line 114, faq/static/scss/faq_main.scss */
.cat-list .the-active .cat-heading::before {
  content: '-'; }

/* line 118, faq/static/scss/faq_main.scss */
.cat-heading {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  margin: 0; }

/* line 126, faq/static/scss/faq_main.scss */
.cat-heading:hover {
  color: var(--theme-color); }

/* line 130, faq/static/scss/faq_main.scss */
.cat-text {
  display: none; }

/* line 135, faq/static/scss/faq_main.scss */
.container {
  width: 1200px;
  margin: auto; }

/* line 139, faq/static/scss/faq_main.scss */
.art-box svg {
  width: 100%; }

/* line 142, faq/static/scss/faq_main.scss */
.row {
  display: flex; }

/* line 145, faq/static/scss/faq_main.scss */
.row .col {
  flex-basis: 50%; }

/* line 148, faq/static/scss/faq_main.scss */
.read {
  color: #646464;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 25px; }
